<%- include('../layouts/header.ejs') -%>
<div class="col-md-8">
    <div class="rightDiv">
        <h5>ASTRA WALLET</h5>
        <div style="margin-top: 30px; background-color: rgba(206, 202, 202, 0.408);height: 100px;padding-top: 30px;">
       <div style="font-size: 17px;" > Your Wallet Balance is</div>
        <div style="font-size: 18px;font-weight: 600;"> &#8377; <%= walletBalance %></div>
        </div>
    </div>
</div>
<%- include('../layouts/footer.ejs') -%>